In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('C:\\Users\\aleja\\Desktop\\3er semestre\\Simulacion matematica\\denue_inegi_61_.csv')

C:\Users\aleja\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (14,18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
def dataqualityreport(data):
    columns = pd.DataFrame(list(data.columns.values),
                           columns = ['Columns Names'],index=list(data.columns.values))

In [4]:
data_types = pd.DataFrame(data.dtypes, columns=['Data Type'])

In [5]:
missing_data_counts = pd.DataFrame(data.isnull().sum(),columns=['Missing Values'])
missing_data_counts

            Missing Values
id                       0
nom_estab                0
raz_social           43958
codigo_act               0
nombre_act               0
per_ocu                  0
tipo_vial              385
nom_vial                86
tipo_v_e_1            5953
nom_v_e_1              570
tipo_v_e_2            5765
nom_v_e_2              605
tipo_v_e_3            5937
nom_v_e_3              426
numero_ext           78451
letra_ext            57287
edificio            138749
edificio_e          137689
numero_int          135037
letra_int           132398
tipo_asent            1779
nomb_asent               7
tipoCenCom          137618
nom_CenCom          137078
num_local           137485
cod_postal             787
cve_ent                  0
entidad                  0
cve_mun                  0
municipio                0
cve_loc                  0
localidad                0
ageb                     0
manzana                  0
telefono             62415
correoelec          115699
www                 131631
tipoUniEco               0
latitud                  0
longitud                 0
fecha_alta               0

In [6]:
present_data_counts = pd.DataFrame(data.count(),columns=['Present Values'])
present_data_counts

            Present Values
id                  140803
nom_estab           140803
raz_social           96845
codigo_act          140803
nombre_act          140803
per_ocu             140803
tipo_vial           140418
nom_vial            140717
tipo_v_e_1          134850
nom_v_e_1           140233
tipo_v_e_2          135038
nom_v_e_2           140198
tipo_v_e_3          134866
nom_v_e_3           140377
numero_ext           62352
letra_ext            83516
edificio              2054
edificio_e            3114
numero_int            5766
letra_int             8405
tipo_asent          139024
nomb_asent          140796
tipoCenCom            3185
nom_CenCom            3725
num_local             3318
cod_postal          140016
cve_ent             140803
entidad             140803
cve_mun             140803
municipio           140803
cve_loc             140803
localidad           140803
ageb                140803
manzana             140803
telefono             78388
correoelec           25104
www                   9172
tipoUniEco          140803
latitud             140803
longitud            140803
fecha_alta          140803

In [7]:
unique_value_counts = pd.DataFrame(columns=['Unique Values'])
for v in list(accidents.columns.values):
    unique_value_counts.loc[v] = [accidents[v].nunique()]
unique_value_counts

NameError: name 'accidents' is not defined

In [8]:
minimum_values = pd.DataFrame(columns=['Minimum Value'])
for v in list(accidents.columns.values):
    minimum_values.loc[v] = [accidents[v].min()]
minimum_values

NameError: name 'accidents' is not defined

In [9]:
maximum_values = pd.DataFrame(columns=['Maximum Value'])
for v in list(accidents.columns.values):
    maximum_values.loc[v] = [accidents[v].max()]
maximum_values

NameError: name 'accidents' is not defined

In [10]:
data_quality_report = data_types.join(present_data_counts).join(missing_data_counts).join(unique_value_counts).join(minimum_values).join(maximum_values)

In [11]:
print("\nData Quality Report")
print("Total records: {}".format(len(accidents.index)))
data_quality_report

Data Quality Report

NameError: name 'accidents' is not defined

In [12]:
columns = pd.DataFrame(list(data.columns.values),
                           columns = ['Columns Names'],index=list(data.columns.values))

In [13]:
data_types = pd.DataFrame(data.dtypes, columns=['Data Type'])

In [14]:
missing_data_counts = pd.DataFrame(data.isnull().sum(),columns = ['Missing Values'])

In [15]:
present_data_counts = pd.DataFrame(data.count(),columns=['Present Values'])

In [16]:
unique_value_counts = pd.DataFrame(columns=['Unique Values'])
for v in list(data.columns.values):
    unique_value_counts.loc[v] = [data[v].nunique()]

In [17]:
minimum_values = pd.DataFrame(columns=['Minimum Values'])
for v in list(data.columns.values):
    try:
        minimum_values.loc[v]=[data[v].min()]
    except:
        pass

In [18]:
maximum_values = pd.DataFrame(columns=['Maximum Values'])
for v in list(data.columns.values):
    try:
        maximum_values.loc[v]=[data[v].max()]
    except:
        pass

In [20]:
data_quality_report = columns.join(data_types).join(missing_data_counts).join(present_data_counts).join(unique_value_counts).join(minimum_values).join(maximum_values)
    return data_quality_report

SyntaxError: 'return' outside function (<ipython-input-20-387dcbe07ba1>, line 2)

In [21]:
print("\nData Quality Report")
print("Total records: {}".format(len(data.index)))
data_quality_report

Data Quality Report
Total records: 140803

,Columns Names,Data Type,Missing Values,Present Values,Unique Values,Minimum Values,Maximum Values
id,id,int64,0,140803,140803,14,6886773
nom_estab,nom_estab,object,0,140803,101591,(CAPIVER) CENTRO DE ATENCIÓN PSICOLÓGICA,ÚLTIMO GUERRERO DEL LIMA LAMA
raz_social,raz_social,object,43958,96845,29625,NaN,NaN
codigo_act,codigo_act,int64,0,140803,38,611111,611710
nombre_act,nombre_act,object,0,140803,38,Escuelas comerciales y secretariales del secto...,Servicios de profesores particulares
per_ocu,per_ocu,object,0,140803,7,0 a 5 personas,6 a 10 personas
tipo_vial,tipo_vial,object,385,140418,30,NaN,NaN
nom_vial,nom_vial,object,86,140717,29400,NaN,NaN
tipo_v_e_1,tipo_v_e_1,object,5953,134850,29,NaN,NaN
nom_v_e_1,nom_v_e_1,object,570,140233,31474,NaN,NaN
tipo_v_e_2,tipo_v_e_2,object,5765,135038,30,NaN,NaN
nom_v_e_2,nom_v_e_2,object,605,140198,31938,NaN,NaN
tipo_v_e_3,tipo_v_e_3,object,5937,134866,30,NaN,NaN
nom_v_e_3,nom_v_e_3,object,426,140377,32344,NaN,NaN
numero_ext,numero_ext,object,78451,62352,6483,NaN,NaN
letra_ext,letra_ext,object,57287,83516,1012,NaN,NaN
edificio,edificio,object,138749,2054,1043,NaN,NaN
edificio_e,edificio_e,object,137689,3114,141,NaN,NaN
numero_int,numero_int,object,135037,5766,386,NaN,NaN
letra_int,letra_int,object,132398,8405,536,NaN,NaN
tipo_asent,tipo_asent,object,1779,139024,48,NaN,NaN
nomb_asent,nomb_asent,object,7,140796,21191,NaN,NaN
tipoCenCom,tipoCenCom,object,137618,3185,29,NaN,NaN
nom_CenCom,nom_CenCom,object,137078,3725,2200,NaN,NaN
num_local,num_local,object,137485,3318,922,NaN,NaN
cod_postal,cod_postal,float64,787,140016,12313,0,99999
cve_ent,cve_ent,int64,0,140803,32,1,32
entidad,entidad,object,0,140803,32,AGUASCALIENTES,ZACATECAS
cve_mun,cve_mun,int64,0,140803,570,1,570
municipio,municipio,object,0,140803,2317,Abalá,Ánimas Trujano
cve_loc,cve_loc,int64,0,140803,616,1,5302
localidad,localidad,object,0,140803,5188,10 de Abril ...,Úrsulo Galván ...
ageb,ageb,object,0,140803,6213,0010,9975
manzana,manzana,int64,0,140803,156,1,800
telefono,telefono,object,62415,78388,73359,NaN,NaN
correoelec,correoelec,object,115699,25104,23361,NaN,NaN
www,www,object,131631,9172,6810,NaN,NaN
tipoUniEco,tipoUniEco,object,0,140803,2,Fijo,Semifijo
latitud,latitud,float64,0,140803,134787,14.5899,32.7166
longitud,longitud,float64,0,140803,134796,-117.123,-86.7252
fecha_alta,fecha_alta,object,0,140803,12,2010-07,2019-04

## Conclusiones

Es claro que panda es una herramienta que sirve para el manejo y análisis de información. Más que nada te sirve para la visualización clara y creación de tablas. En general te da herramientas para el análisis de datos. Algo importante que se debe de tomar en cuenta es que se necesita que tus archivos de los cuales sacas los datos (en este caso un .csv) estén perfectamente bien hechos. En caso de que tu fuente de datos no sirva todo tu trabajo será inútil, si es que puedes hacerlo.

In [1]:
import pandas as pd
import datetime as datetime

#%% Definición del archivo a procesar
data = pd.read_csv('C:\\Users\\Adriana\\Documents\\logs_IFYP_Adriana.csv')
df2 = data[(data["Nombre completo del usuario"] == "GARCIA PADILLA ADRIANA DE GUADALUPE")]
df2

#%% Función data quality report
def dataqualityreport(data):
# Creamos un DataFrame con las columnas del archivo de alumnos
columns = pd.DataFrame(list(data.columns.values),
columns = ['Columns Names'],index=list(data.columns.values))
# lista de tipos de variables
data_types = pd.DataFrame(data.dtypes,
columns= ['Data Type'])
# Contando datos perdidos
missing_data_counts = pd.DataFrame(data.isnull().sum(),
columns = ['Missing Values'])
# Cuántos datos tenemos
present_data_counts = pd.DataFrame(data.count(),
columns=['Present Values'])
# Valores únicos
unique_value_counts = pd.DataFrame(columns=['Unique Values'])
for v in list(data.columns.values):
unique_value_counts.loc[v] = [data[v].nunique()]
# Valores mínimos por variable
minimum_values = pd.DataFrame(columns=['Minimum Values'])
for v in list(data.columns.values):
try:
minimum_values.loc[v]=[data[v].min()]
except:
pass
# Valores máximos por variable
maximum_values = pd.DataFrame(columns=['Maximum Values'])
for v in list(data.columns.values):
try:
maximum_values.loc[v]=[data[v].max()]
except:
pass
# Juntar la información que se logró recabar
data_quality_report = columns.join(data_types).join(missing_data_counts).join(present_data_counts).join(unique_value_counts).join(minimum_values).join(maximum_values)
return data_quality_report


#%% Data Quality Report
dqr = dataqualityreport(data) #ESTA ES LA LLAMADA A LA FUNCIÓN

#%% Cambiar la variable Hora a solamente la fecha para filtrar los datos de este semestre
# https://www.journaldev.com/23365/python-string-to-datetime-strptime

def change_fort_date(x):
return datetime.datetime.strptime(x,"%d/%m/%Y %H:%M")

new_date = data.Hora.apply(change_fort_date)

# Seleccionar los datos solamente de este semestre
indx = new_date>datetime.datetime.strptime('01/08/2018','%d/%m/%Y')

new_data = data.loc[indx]

# Excluyendo al profesor
idx2 = new_data['Nombre completo del usuario']!='GARCIA PADILLA ADRIANA DE GUADALUPE'
new_data = new_data.loc[idx2]

#%% 
dqr = dataqualityreport(new_data)
dqr

#%%
accesos_usuario = pd.value_counts(new_data['Nombre completo del usuario'])
accesos_usuario

#%%
eventos = pd.value_counts(new_data['Nombre evento'])
eventos

#%%
origen = pd.value_counts(new_data['Origen'])
def filtrar_origen(x):
x = str(x)
return x[0:23]

temp = new_data['Descripción'].apply(filtrar_origen)
origen = pd.value_counts(temp)
origen

#%%
# filtrar las IP por el dominio xxx.xxx
def filtrar_dominio(x):
x = str(x)
return x[0:7]

temp = new_data['Dirección IP'].apply(filtrar_dominio)
dir_Dom = pd.value_counts(temp)
dir_Dom

#%%
componente = pd.value_counts(new_data['Componente'])
componente

#%% filtrar horas
def filtrar_hora(x):
x = str(x)
temp = x.split()
return temp[1][0:2]

temp = new_data['Hora'].apply(filtrar_hora)
horas = pd.value_counts(temp)
horas

IndentationError: expected an indented block (<ipython-input-1-cd09893d83d2>, line 12)